{{- define "template" }}
  problems/list.html
{{- end }}

{{- define "main" }}
  <section class="container my-5">
    <h1>{{ .Title }}</h1>
    {{ .Content }}
  </section>

  <section class="container my-5">
    <div class="problem-list">
      {{ range .Pages }}
        <article class="problem-card">
          <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
          {{ with .Description }}
            <p>{{ . }}</p>
          {{ end }}
        </article>
      {{ end }}
    </div>
  </section>
{{- end }}
