{{- define "template" }}
  problems/single.html
{{- end }}

{{- define "main" }}
  <article class="container my-5" itemscope itemtype="https://schema.org/Article">
    <header>
      <h1 itemprop="headline">{{ .Title }}</h1>
      <meta itemprop="description" content="{{ .Description }}">
      <meta itemprop="author" content="{{ site.Params.author }}">
    </header>

    <div itemprop="articleBody">
      {{ .Content }}
    </div>

    <section>
      {{ partial "components/related-insights.html" . }}
    </section>

    <section>
      {{ partial "components/related-case-studies.html" . }}
    </section>
  </article>
{{- end }}
