{{- define "template" }}
  problems/single.html
{{- end }}

{{- define "main" }}
  <div itemscope itemtype="https://schema.org/Service">
    <meta itemprop="name" content="{{ .Title }}" />
    <meta itemprop="description" content="{{ .Description }}" />
    <meta itemprop="serviceType" content="Professional Consulting" />
    <span itemprop="provider" itemscope itemtype="https://schema.org/Person">
      <meta itemprop="name" content="{{ site.Params.author }}" />
    </span>

    <section class="container my-5">
      <header>
        <h1>{{ .Title }}</h1>
        {{- with .Params.subtitle }}
          <p class="lead">{{ . }}</p>
        {{- end }}
      </header>
    </section>

    <section class="container my-5">
      {{ .Content }}
    </section>
  </div>
{{- end }}
