{{- define "template" }}
  outcomes/single.html
{{- end }}

{{- define "main" }}
  <div itemscope itemtype="https://schema.org/Service">
    <meta itemprop="name" content="{{ .Title }}">
    <meta itemprop="description" content="{{ .Description }}">
    <meta itemprop="serviceType" content="Professional Consulting">
    <span itemprop="provider" itemscope itemtype="https://schema.org/Person">
      <meta itemprop="name" content="{{ site.Params.author }}">
    </span>

    <section class="container my-5">
      <header>
        <h1>{{ .Title }}</h1>
      </header>
    </section>

    <section class="container my-5">
      {{ .Content }}
    </section>

    <section class="container my-5">
      {{ partial "components/related-insights.html" . }}
    </section>

    <section class="container my-5">
      {{ partial "components/related-case-studies.html" . }}
    </section>
  </div>
{{- end }}
