<article itemscope itemtype="https://schema.org/Article">
  <div class="card promo-card shadow-sm">
    {{ $image := partial "functions/get-image.html" . }}
    <div class="promo-card-image-container">
      <img src="{{ $image.src }}" class="promo-card-image" alt="{{ .Title }}" itemprop="image" style="object-position: {{ $image.position }};">
    </div>
    <div class="promo-card-overlay">
      <a href="{{ .RelPermalink }}" class="promo-card-title d-block">{{ .Params.shortTitle | default .Title }}</a>
      {{ with .Description }}
        <p class="promo-card-description" itemprop="description">{{ . }}</p>
      {{ end }}
      <div class="promo-card-button">
        <a href="{{ .RelPermalink }}" class="btn" itemprop="url">Learn More</a>
      </div>
    </div>
    <meta itemprop="headline" content="{{ .Title }}">
    <meta itemprop="datePublished" content="{{ .Date.Format "2006-01-02" }}">
    <meta itemprop="author" content="{{ site.Params.author }}">
  </div>
</article>
