{{- $variant := .Get "variant" | default "default" -}}
{{- $heading := .Get "heading" | default "" -}}
{{- $text := .Get "text" | default "" -}}
{{- $showLocation := .Get "showLocation" | default false -}}
{{- $directBooking := .Get "directBooking" | default false -}}
{{- $buttonText := .Get "buttonText" | default "" -}}

{{- if eq $showLocation "false" -}}
  {{- $showLocation = false -}}
{{- end -}}

{{- if eq $directBooking "false" -}}
  {{- $directBooking = false -}}
{{- end -}}

{{- $params := dict "variant" $variant "showLocation" $showLocation "directBooking" $directBooking -}}

{{- if $heading -}}
  {{- $params = merge $params (dict "heading" $heading) -}}
{{- end -}}

{{- if $text -}}
  {{- $params = merge $params (dict "text" $text) -}}
{{- end -}}

{{- if $buttonText -}}
  {{- $params = merge $params (dict "buttonText" $buttonText) -}}
{{- end -}}

{{ partial "components/contact-cta.html" $params }}
