{{- $imageSrc := "" -}}
{{- $imagePos := "center" -}}

{{- if .Params.image -}}
  {{- if reflect.IsMap .Params.image -}}
    {{- if .Params.image.src -}}
      {{- $imageSrc = .Params.image.src -}}
    {{- end -}}
    {{- $imagePos = .Params.image.position | default "center" -}}
  {{- else -}}
    {{- $imageSrc = .Params.image -}}
  {{- end -}}
{{- end -}}

{{- if not $imageSrc -}}
  {{- if .File -}}
    {{- $section := .Section -}}
    {{- $slug := .Params.slug | default .File.ContentBaseName -}}
    {{- $image := false -}}
    {{- $imagePath := "" -}}
    
    {{- /* Try multiple formats */ -}}
    {{- range slice "webp" "png" -}}
      {{- if not $image -}}
        {{- $imagePath = printf "images/%s/%s.%s" $section $slug . -}}
        {{- $image = resources.Get $imagePath -}}
      {{- end -}}
    {{- end -}}
    
    {{- if $image -}}
      {{- $resized := $image.Resize "800x" -}}
      {{- $imageSrc = $resized.RelPermalink -}}
    {{- else -}}
      {{- /* Check static directory */ -}}
      {{- range slice "webp" "png" -}}
        {{- if not $imageSrc -}}
          {{- $staticPath := printf "static/images/%s/%s.%s" $section $slug . -}}
          {{- if fileExists $staticPath -}}
            {{- $imageSrc = printf "/images/%s/%s.%s" $section $slug . -}}
          {{- end -}}
        {{- end -}}
      {{- end -}}
      {{- if not $imageSrc -}}
        {{- $imageSrc = printf "%s#missing#%s" site.Params.og_image $imagePath -}}
        {{- $imagePos = "left" -}}
      {{- end -}}
    {{- end -}}
  {{- else -}}
    {{- $imageSrc = site.Params.og_image -}}
  {{- end -}}
{{- end -}}
{{- return (dict "src" $imageSrc "position" $imagePos) -}}
